:root {
  --primary-color: #9775fa;
  --white-color: #f8f9fa;
  --black-color: #212529;
}

.dark-theme {
  --white-color: #212529;
  --black-color: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  color: var(--black-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

input,
select,
button {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.change-theme-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  width: 4.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

.screen {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  margin: 10rem auto 0;
  max-width: 60rem;
  background-color: var(--white-color);
  border-radius: 0.6rem;
}

.logo {
  width: 10rem;
  align-self: center;
}

.title {
  font-weight: 600;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form-group__label {
  font-size: 1.8rem;
  font-weight: 600;
}

.form-group__input {
  color: var(--black-color);
  font-size: 2rem;
  background: none;
  border: none;
  border-bottom: 2px solid var(--black-color);
  transition: border-color 0.3s;
}

.form-group__input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.currencies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.select,
.btn {
  font-size: 2rem;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 0.4rem;
  transition: opacity 0.3s;
}

.select:hover,
.btn:hover {
  opacity: 0.9;
}

.btn {
  padding: 1.6rem;
  width: 100%;
  border: none;
  cursor: pointer;
}

.result {
  padding: 1.6rem;
  font-size: 2rem;
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  border-radius: 0.4rem;
}

.hidden {
  display: none;
}
